<div class="player-container" [class.overlayed]="overlayEnabled" [class.loadingRender]="initialLoading" #allcontent>
    <div class="background-img" [style.background-color]="themeColor"></div>
    <content *ngIf="!aboutData && !shareOpen">
      <div class="metadata">
        <div class="artwork">
          <div class="artworkBackground" [class.loaded]="artworkSafeLoaded" [style.background-image]="artworkSafeLoaded"></div>
          <img *ngIf="artworkUrl" [src]="artworkUrl" (load)="artworkLoaded()" style="display:none"/>
          <button (click)="togglePlayPause()" id="large-playback-control-button" [attr.aria-label]="!state.playing ? 'play' : 'pause'">
            <img src="/assets/images/large-semi-transparent-play.svg" alt="" *ngIf="!state.playing" load-render>
            <img class="pauseButton" src="/assets/images/large-semi-transparent-pause.svg" alt="" *ngIf="state.playing">
          </button>
        </div>
        <section>
          <header>
            <div class="titles">
              <h1 [title]="subtitle" class="truncate-overflow">{{subtitle}}</h1>
              <h2 [title]="title">{{title}}</h2>
            </div>
            <div class="logo" id="upper-logo"><img load-render *ngIf="logoSrc" [src]="logoSrc" alt=""></div>
          </header>
          <div class="controls">
            <div class="buttons" (window:keydown)="handleHotkey($event)">
              <button (click)="togglePlayPause()" id="playback-control-button" [attr.aria-label]="!state.playing ? 'play' : 'pause'">
                <img src="/assets/images/play.svg" alt="" *ngIf="!state.playing" load-render>
                <img class="pauseButton" src="/assets/images/pause.svg" alt="" *ngIf="state.playing">
              </button>
              <a href="{{'https://aureal.one/episode/' + episodeData?.id}}"  target="_blank">
                <button class="follow-button">
                  Follow
                </button>
              </a>
            </div>
            <nav>
              <a (click)="showInfoToggle()" id="info-button">
                <img class="nav-button" src="/assets/images/info_white_24dp.svg" alt="info">
              </a>
              <a (click)="shareToggle()" >
                <img class="nav-button" src="/assets/images/more_horiz_black_24dp.svg" alt="share">
              </a>
            </nav>
            <div class="logo" id="lower-logo"><img load-render *ngIf="logoSrc" [src]="logoSrc" alt=""></div>
          </div>
          <div class="scrubber">
            <div class="time-slider">
              <button (click)="seekBy(-5)" class="rewind-control-button" aria-label="rewind">
                <img src="/assets/images/back-5.svg" alt="">
              </button>
              <mat-slider thumbLabel
              [displayWith]="formatLabel" min="0" [max]="state?.duration" step="1" [value]="state?.currentTime"
                (input)="onSliderChangeEnd($event)" [disabled]="state?.error"></mat-slider>
              <button (click)="seekBy(30)" class="forward-control-button" aria-label="fast forward">
                <img src="/assets/images/forward-30.svg" alt="">
              </button>
              <span class="duration loaded ml-3">{{ state.currentTime > 0 ? state?.readableCurrentTime : state.readableDuration}}</span>
            </div>
          </div>
        </section>
        <!-- <div class="aureal-logo">
          <a href="https://aureal.one" target="_blank">
            <img src="/assets/images/Aureal_full_light.png" alt="Aureal logo">
          </a>
        </div> -->
      </div>
      <div class="metadata" style="flex-direction: column;" *ngIf="showOtherEpisodes">
        <!-- <div class="tabs">
          <div class="each-tab" [ngClass]="{'active' : isCreatePodcast}">

          </div>
        </div> -->
        <div class="other-episodes">Other episodes</div>
        <div class="scrollable-section">
          <div *ngFor="let episode of otherEpisodes;" class="each-episode" (click)="playOtherEpisode(episode)">
            <div style="display: flex; align-items: center;">
              <div class="image-part">
                <div class="bg-overlay w100 absolute"></div>
                <img [src]="episode.image" class="album-art lazyload">
                <div class="glass-icon custom-glass-icon">
                    <img src="/assets/images/play.svg" alt="" load-render>
                </div>
              </div>
              <div class="episode-name truncate-overflow">
                {{episode?.name}}
              </div>
            </div>
            <div class="episode-duration">
              <span>
                {{formatDuration(episode.duration)}} 
              </span>
              <span>
                {{episode.published_at | date: 'dd MMM yyyy'}}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div>
        
      </div>
    </content>
    <content *ngIf="aboutData" class="show-more">
      <div class="close-icon">
        <a (click)="showInfoToggle()" id="share-button">
          <img class="nav-button" src="/assets/images/close_white_24dp.svg" alt="close">
        </a>
      </div>
      <div>
        <h4 [title]="title">{{title}}</h4>
        <h3 [title]="subtitle">{{subtitle}}</h3>
        <h5> {{episodeData.author}}</h5>
        <p [innerHTML]="episodeData.summary">
        </p>
      </div>
    </content>

    <content *ngIf="shareOpen" class="show-more">
      <div class="close-icon">
        <a (click)="shareToggle()" id="share-button">
          <img class="nav-button" src="/assets/images/close_white_24dp.svg" alt="close">
        </a>
      </div>
      <div class="share-part">
        <div class="share-episode">
          <a class="each-line" href="{{'https://aureal.one/episode/' + episodeData?.id}}" target="_blank" >
            <img class="nav-button" src="/assets/images/radio_white_24dp.svg" alt="listen">
            <div>Listen on Aureal</div>
          </a>
          <a class="each-line" href="{{'https://aureal.one/episode/' + episodeData?.id}}" target="_blank" >
            <img class="nav-button" src="/assets/images/person_add_alt_white_24dp.svg" alt="follow">
            <div>Follow on Aureal</div>
          </a>
          <a class="each-line" (click)="share()">
            <img class="nav-button" src="/assets/images/ios_share_white_24dp.svg" alt="share">
            <div>Share</div>
          </a>
        </div>
        <div class="other-part">
          <div class="downloader">
            <a class="each-line button" href="https://apps.apple.com/in/app/aureal/id1569963165" target="_blank" >
              <img src="/assets/images/app_store_icon.svg" alt="Appstore">
              <div>App Store</div>
            </a>
            <a class="each-line button" href="https://play.google.com/store/apps/details?id=co.titandlt.auditory" target="_blank" >
              <img src="/assets/images/play_store_icon.svg" alt="Playstore">
              <div>Google Play</div>
            </a>
          </div>
          <div class="logo-part">
            <img src="/assets/images/Aureal_full_light.png" alt="Aureal logo">
          </div>
        </div>
      </div>
    </content>
  </div>
  